@{
    ViewData["Title"] = "Get to Know Joel";
}
@model Application

<a href="https://www.qwcomedy.com/">Go to Quick Wits Comedy</a>
<br />
<a href="https://baconsale.com/">Baconsale site</a> 
<br />
<a href=https://baconsale.com >
<img src="c:\users\cvpow\source\repos\mission6\mission6\wwwroot\baconsalekate.jpg" />
</a>