@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
@model Application

<h1>Welcome to Joel Hiltons Film Collection!</h1>
<p>Here is a super cool photo of me</p>
<img src="c:\users\cvpow\source\repos\mission6\mission6\wwwroot\joelhiltonheadshot.jpg" />


